<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/pushbar.css">
    <link rel="stylesheet" href="/styles/main.css">
     <link rel="stylesheet" href="/styles/producto.css">



    <link href="https://fonts.googleapis.com/css?family=Rubik:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <title>Store | Can Shop </title>
</head>
<body>
   <header>
      <div class="encabezado">
        <nav class="encabezado__nav">
          <a class="encabezado__enlace--primero linea" href="/">HOME</a>
          <a class="encabezado__enlace linea" href="/#section2">ABOUT US</a>
          <a class="encabezado__enlace linea " href="/#section3">CATALOG</a>
          <a class="encabezado__enlace linea" href="/#section4">SALE</a>
        </nav>
        <div class="encabezado__nav-der">
          
          <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="Type to Search">
            <a class="search-btn" href="#">
              <i class="fas fa-search"></i>
            </a>
           

            </div>
            
          </div>
          
          <a class="encabezado__enlace--micuenta linea " href="#">MY ACCOUNT</a>
          <a class="encabezado__icono" href="#" data-pushbar-target="pushbar-carrito"><img width=20px src="/images/carrito.png" /></a>
          <div data-pushbar-id="pushbar-carrito" class="pushbar from_right pushbar-carrito" >
            <div class="btn-cerrar izquierda">
              <button data-pushbar-close> <i class="fas fa-times"></i></button>
            </div>
            <h1 class="tituloCarrito">MY CART</h1>
            <hr class="lineaCarrito">
            <hr class="lineaCarrito">
            <div class="btnContinuar">
            <a href="#" >CONTINUE TO CHECK OUT</a>
          </div>
        </div>
      </div>
      
    </header>
    <article class="producto">

<div class="producto-seccion izq">
  <h1 class="producto__titulo">{{titulo}}</h1>
  <hr>
  <h3 class="producto__precio">${{precio}}</h3>

  <h3 class="producto__detalle">Details</h3>
    
    <p class="producto__detalles">{{detalles}}</p>

     <h3 class="producto__cuidado">Care</h3>
   
    <p class="producto__cuidados">{{cuidados}}</p>

</div>
<div class="producto-seccion centro">
    {{#if imagen}}
    <img class= "producto__imagen"src="{{imagen}}" alt="">


    {{else}}
    <p>SORRY</p>
        {{/if}}
<div class="cantidad">   
        <button class="cantidad__mas">+</button>
        <h2 "cantidad__num">1</h2>
         <button class="cantidad__menos">-</button></div>
     
             <button class="producto__boton">ADD TO CART  <a class="icono" href="#" data-pushbar-target="pushbar-carrito"><img class="iconCarrito"width=20px src="/images/carrito.png" /></a>
             </button>
    
</div>
<div class="producto-seccion derecha">
  <div class="producto-seccion derecha__color">
    {{#if color}}
  <h1>Colors</h1>
  <section class="opciones">

  
  <div class="casilla" style="background: {{color.[1]}}">
    
  </div>
  <div class="casilla"  style="background: {{color.[2]}}">
    
  </div>
  
    {{else}}
  
        {{/if}}
       </section> 
        </div>
 <div class="producto-seccion derecha__talla">
  {{#if talla}}
  <h1>Size</h1>
  <section class="opciones">
    <div class="casilla-talla">
    <h2>{{talla}}</h2>
    </div>
       <div class="casilla-talla">
    <h2>{{talla}}</h2>
    </div>
       <div class="casilla-talla">
    <h2>{{talla}}</h2>
    </div>
    {{else}}
  
        {{/if}}
        </section> 
          </div>
 


<div  class="producto-seccion derecha__peso">
        {{#if peso}}
  <h1>Weight</h1>
        <article class="cajaFiltro opciones-peso">
   <div class="filtro">
    <select>
  <option value="">Select Weight</option>
   <option value="1">{{peso}}</option> 
   <option value="2">{{peso}}</option> 
    </select>
   </div>
    </article>

    {{else}}
  
        {{/if}}
  </div>
 

         </div>



    </article>   

                  <footer>
                
                <h1 class="titulopie">GET HELP</h1>
                
                <div class="pie">
                  
                  
                  <div class="pie__izq">
                    <a class="pie__izq__enlace" href="#">Order Status</a>
                    <a class="pie__izq__enlace" href="#">Shopping</a>
                    <a class="pie__izq__enlace" href="#">Delivery</a>
                  </div>
                  
                  
                  <div class="pie__der">
                    <a class="pie__der__enlace" href="#">Returns</a>
                    <a class="pie__der__enlace" href="#">Payment Options</a>
                    <a class="pie__der__enlace" href="#">Contact Us</a>
                  </div>

                  <hr width="1" size="200">
                  <h1 class="pie__suscribirse">
                    Already have an account? Subscribe</h1>
                  <input type="email" placeholder="Email" class="pie__campo">
                  <input class="pie__boton" type="button" value="Submit">
                </div>

        
                
              </footer>

                            
            <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
              integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
              crossorigin="anonymous"></script>

            <script src="../script/libs/pushbar.js"></script>
              <script>
              var pushbar = new Pushbar ({
                blur: true,
                overlay: false

              });
              
              </script>
    
</body>
</html>